@model LoginUserDto

@{
    ViewData["Title"] = Resource.Login;
}

<div class="modal-content">
    <div class="modal-header">
        <div>
            <h5 class="modal-title title" id="exampleModalLongTitle2">@Resource.Login</h5>
            <p class="font-size-14">سلام ! به حسابت خوش اومدی </p>
        </div>
    </div>
    <div class="modal-body">
        <div class="contact-form-action">
            <form asp-controller="Account" asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <div class="input-box">
                    <label class="label-text" asp-for="UserName"></label>
                    <div class="form-group">
                        <span class="la la-user form-icon"></span>
                        <input class="form-control"  asp-for="UserName" placeholder="نام کاربریت رو وارد کن">
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div><!-- end input-box -->
                <div class="input-box">
                    <label class="label-text" asp-for="Password"></label>
                    <div class="form-group mb-2">
                        <span class="la la-lock form-icon"></span>
                        <input class="form-control" type="password" asp-for="Password" placeholder="رمزعبورت رو وارد کن">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div><!-- end input-box -->
                <div class="btn-box pt-3 pb-4">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button type="submit" class="theme-btn w-100">@Resource.Login</button>
                </div>
            </form>
        </div><!-- end contact-form-action -->
    </div>
</div>